<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Index gdgdf</h1>-->
<!--</body>-->
<!--</html>-->


// все блочные теги
//<div>
//<p>
//<h1>
//<h2>
//<h3>
//<h4>
//<h5>
//<h6>
//<ul>
//<ol>
//<li>
//<dl>
//<dt>
//<dd>
//<table>
//<thead>
//<tbody>
//<tfoot>
//<tr>
//<th>
//<td>
//<form>
//<fieldset>
//<legend>
//<label>
//<input>
//<textarea>
//<select>
//<option>
//<button>
//<hr>
//<br>
//<pre>
//<address>
//<blockquote>
//<center>
//<dir>
//<isindex>
//<menu>
//<noframes>
//<noscript>
//<samp>
//<xmp>

    // все строчные теги
//<a>
//<abbr>
//<acronym>
//<b>
//<bdo>
//<big>
//<br>
//<button>
//<cite>
//<code>
//<dfn>
//<em>
//<i>
//<img>
//<input>
//<kbd>
//<label>
//<map>
//<object>
//<q>
//<samp>
//<script>
//<select>

    // все семантические теги
//<article>
//<aside>
//<details>
//<figcaption>
//<figure>
//<footer>
//<header>
//<hgroup>
//<main>
//<mark>
//<nav>
//<section>
//<summary>
//<time>
//<wbr>

    // все теги для работы с таблицами
//<table>
//<caption>
//<colgroup>
//<col>
//<thead>
//<tbody>
//<tfoot>
//<tr>
//<th>
//<td>

    // все теги для работы с формами
//<form>
//<fieldset>
//<legend>
//<label>
//<input>
//<textarea>
//<select>
//<option>
//<button>
//<datalist>
//<optgroup>
//<output>
//<progress>
//<meter>

    // все теги для работы с мультимедиа
//<audio>
//<video>
//<source>
//<track>
//<embed>
//<object>
//<param>

    // все теги для работы с фреймами
//<frame>
//<frameset>
//<noframes>

    // все теги для работы с метаданными
//<base>
//<link>
//<meta>
//<style>
//<title>

    // все теги для работы с списками
//<ul>
//<ol>
//<li>
//<dl>
//<dt>
//<dd>

    // все теги для работы с текстом
//<a>
//<abbr>
//<b>
//<bdo>
//<br>
//<cite>
//<code>
//<dfn>
//<em>
//<i>
//<kbd>
//<q>
//<samp>
//<small>
//<span>
//<strong>
//<sub>
//<sup>
//<time>
//<var>
//<wbr>

    // все теги для работы с изображениями